
.tudo{
    background-color: #fff;
    border: 8px double #000000;
    border-radius: 15px;
    width: 40%;
    min-height: 20rem;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

.div-ok{
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
    border-top: 1.5px dotted rgb(179, 177, 177);
    align-items: center;
    width: 100%;
}


h1{
    padding: 2px;
    margin: 10px;
    font-size: 32px;
    text-shadow: 0 0 0.2em rgb(255, 219, 119), 0 0 0.2em rgb(255, 219, 119);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #000000;
    font-weight: bolder;
    text-align: center;
}

.div-ok-int{
    width:50%;
}

.div-ok a{
    color: #000;
    text-decoration: none;  
    text-align: center;
}

.div-ok h5
.div-ok span{
    display: inline-block;
    justify-content: center;
}

.paginationbtn{
    background: #ffaf06;
    color: #000000;
    border-radius: 5px;
    border: 1px dotted #ccc;
    margin: 4px;
    font-weight: bold;
    font-size:smaller;
    width: 2rem;
    box-shadow: rgb(66, 66, 66);
    transition: ease-in-out 0.3s;
}

.paginationbtn:hover{
    background-color: #535353;
    
}

.selector{
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 4px;
    width: 4rem;
    background: #f8d68b;
    padding: 4px;
    margin: 10px 10px 10px 10px;
    font-weight: bold;
}


.buscarbtn{
    background: #ffaf06;
    color: #000000;
    border-radius: 5px;
    border: 5px rgb(255, 255, 255);
    margin: 4px;
    font-weight: bold;
    font-size:medium;
    width: 6rem;
    box-shadow: rgb(66, 66, 66);
    transition: ease-in-out 0.3s;
    text-decoration: none;
}

.buscarbtn:hover{
    background-color: #535353;
}

.quartosfilter{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

.quartosfilter label{
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    flex-direction: row;
    text-align: center;
    align-items: center;
    font-size:20px;
    margin: 0px 4px 4px 0px;
    text-shadow: 0 0 0.2em rgb(0, 0, 0), 0 0 0.2em rgb(0, 0, 0);
}

.quartosfilter select {
    background: rgb(255, 255, 255);
    color: #000000;
    box-shadow: #535353;
    border-radius: 5px;
    border: 10px rgb(107, 0, 0);
    margin: 10px 10px 10px 10px;
    width: 80px;
    font-size:15px;
}

.tudofiltrado{
    background-color: #fff;
    border: 5px double #000000;
    border-radius: 10px;
    width: 50%;
    min-height: 20rem;
    margin: 20px auto;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    line-height: 0.5rem;
    text-decoration: none;
}

.filterbtn{
    background: #ffaf06;
    color: #000000;
    border-radius: 5px;
    border: 5px rgb(255, 255, 255);
    margin: 4px;
    font-weight: bold;
    font-size:medium;
    width: 10rem;
    box-shadow: rgb(66, 66, 66);
    transition: ease-in-out 0.3s;
    
}

.filterbtn:hover{
    background-color: #535353;
}