.tudo{
    background-color: #fff;
    border: 20px solid #000000;
    border-radius: 15px;
    width: 40%;
    min-height: 20rem;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.div-ok{
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: center;
    border-top: 2px solid #ccc;
    align-items: center;
    width: 100%;
}

.div-ok-check{
    padding-top: 2px;
    display: flex;
    text-align: center;
    width: 5%;
}

h1{
    padding: 2px;
    font-size: 28px;
    text-shadow: #000000;
    color: #aa7400;
    font-weight: bolder;
}

.div-ok-int{
    width:50%;
}

.div-ok a{
    color: #000;
    text-decoration: none;  
    text-align: center;
}

.div-ok h5
.div-ok span{
    display: inline-block;
    justify-content: center;
}

.paginationbtn{
    background: #ffaf06;
    color: #000000;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 4px;
    font-weight: bold;
    font-size:smaller;
    width: 2rem;
    box-shadow: rgb(66, 66, 66);
    transition: ease-in-out 0.3s;
}

.paginationbtn:hover{
    background-color: #535353;
    
}


